<!doctype html>
<html lang="en">
  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}" />   
		<meta name="keywords" content="{{ page.tags }}" /> 
    <link rel="canonical" href="{{ page.canonical }}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  </head>
  <body>
    <header><div class="wrapper"><h1><a href="/">khmuller<span>.github.io</span></a></h1></div></header>
    <main>
      <div class="wrapper">
        {{ content }} 
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>